# Node dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# Runtime files
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# System files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
